
:root {
    --backgroundLight: rgba(0,0,0,0.6);
    --borderColor: #222;
    --textColor: #EEEEEE;
    --backgroundDark: rgba(0,0,0,0.9);
    --backgroundHover: rgba(99,99, 99, 0.4);
}

#content {
    background-image: url('./images/bakedPizza.jpeg');
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    color: var(--textColor);
    font-size: 19px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

#navPanel {
    background-color: var(--backgroundDark);
    border-bottom: 1px solid var(--borderColor);
    text-align: center;
}

#businessName {
    padding-top: 25px;
    font-family: 'Tangerine', cursive;
    font-size: 95px;
    font-weight: 500;
}

#bttnContainer {
    padding-top: 25px;
    display: inline-block;
    margin-bottom: 15px;
}

.bttns {
    font-size: inherit;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    color: inherit;
    padding: 20px;
    position: relative;
    transition: .2s ease;
    bottom: 0;
}

.bttns:hover {
    bottom: 7px;
}

.selected {
    border-bottom: 2px solid var(--textColor);
}

#navContent {
    box-sizing: border-box;
    width: 700px;
    background-color: var(--backgroundLight);
    align-self: center;
    margin-top: 55px;
    margin-bottom: 55px;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    padding: 20px;
}

#gitHubInfo {
    height: 45px;
    box-sizing: border-box;
    padding: 12px;
    background-color: var(--backgroundLight);
    border-top: 1px solid var(--borderColor);
    font-size: 16px;
}

a:hover {
    opacity: 0.5;
}

.message {
    margin: 20px;
}

#personPic {
    border-radius: 50%;
}

.foodContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;
    background-color: var(--backgroundLight);
    width: 250px;
    height: 270px;
    cursor: pointer;
    transition: 0.2s ease;
    margin: 20px;
}

.foodContainer:hover {
    background-color: var(--backgroundHover);
}

.pizzaImages {
    align-self: center;
}

.pizzaType {
    font-size: 30px;
    font-weight: 900;
}

.ingredients {
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}

#firstMessage {
    box-sizing: border-box;
    width: 350px;
    display: inline-block;
    line-height: 2.5;
}

@media only screen and (max-width: 600px) {
    #navContent {
        flex-direction: column;
        align-items: center;
    }
    
    .foodContainer {
        width: 80vw;
        margin: 20px;
    }
}

@media only screen and (max-width: 530px) {

    .foodContainer {
        width: 90vw;
        margin: 0;
        transform: scale(0.8);
    }

    #businessName {
        font-size: 85px;
    }

    #navPanel {
        font-size: 17px;
    }

    #gitHubInfo {
        font-size: 13px;
    }

    .message {
       font-size: 17px;
       margin: 0;
    }

    #personPic {
        transform: scale(0.8);
    }
}
