
:root {
    --backgroundLight: rgba(0,0,0,0.6);
    --borderColor: #222;
    --textColor: #EEEEEE;
}

#content {
    background-image: url('./bakedPizza.jpeg');
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    color: var(--textColor);
    font-size: 19px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

#navPanel {
    background-color: rgba(0,0,0,0.9);
    border-bottom: 1px solid var(--borderColor);
    text-align: center;
}

#businessName {
    padding-top: 25px;
    font-family: 'Tangerine', cursive;
    font-size: 95px;
    font-weight: 500;
}

#bttnContainer {
    padding-top: 25px;
    display: inline-block;
    margin-bottom: 15px;
}

.bttns {
    font-size: inherit;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    color: inherit;
    padding: 20px;
    position: relative;
    transition: .2s ease;
    bottom: 0;
}

.bttns:hover {
    bottom: 7px;
}

.selected {
    border-bottom: 2px solid var(--textColor);
}

#navContent {
    box-sizing: border-box;
    width: 700px;
    background-color: var(--backgroundLight);
    align-self: center;
    display: inline-block;
    margin-top: 55px;
    margin-bottom: 55px;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    padding: 20px;
}

#gitHubInfo {
    height: 45px;
    box-sizing: border-box;
    padding: 12px;
    background-color: var(--backgroundLight);
    border-top: 1px solid var(--borderColor);
    font-size: 16px;
}

a:hover {
    opacity: 0.5;
}

.message {
    margin: 25px;
}

#personPic {
    border-radius: 50%;
}

@media only screen and (max-width: 520px) {
    #navContent {
        transform: scale(0.8);
    }

    #businessName {
        font-size: 85px;
    }

    #navPanel {
        font-size: 17px;
    }

    #gitHubInfo {
        font-size: 13px;
    }
}
